.row
  .col.s12.m12
    for article, slug in public.blog._data
      unless slug == "index"
        .card
          .card-content
            .card-title
              a(href="/blog/#{ slug }")
                h4= article.title
            p= article.description
