.row
  .col.s12.m7
    .card
      .card-content
        p
        | Contact me at 
        a(href="mailto:me@vamshi.me") me@vamshi.me
        p
          a(href="/" onclick="changeTheme()") Refresh 
          | if you did not like the color
        p Site still under construction, looking for a good UX person to help me :) . 
        p
        | Check the 
        a(href="/blog") blog 
        | or 
        a(href="/book/js") Javascript book  
        | for now 
