body > nav, .blog, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  body > nav, .blog, footer {
    padding-left: 0;
  }
}

iframe{
  margin-top : 1em
}

ul li ul {
margin-left: 1em;
}
